<h1>Listing sessions</h1>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Date</th>
          <th>Description</th>
          <th>Time</th>
          <th>Exertion</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @sessions.each do |session| %>
          <tr>
            <td><%= session.title.st %></td>
            <td><%= session.date.strftime("%m/%d/%Y") %></td>
            <td><%= session.description %></td>
            <td><%= session.time %></td>
            <td><%= session.exertion %></td>
            <td><%= link_to 'Show', session, class: 'btn btn-mini' %></td>
            <td><%= link_to 'Edit', edit_session_path(session), class: 'btn btn-mini btn-success' %></td>
            <td><%= link_to 'Destroy', session, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>

<%= link_to 'New Session', new_session_path %>
