<ul class="nav nav-tabs">
  </li><%= link_to "Home", root_path %></li>
  </li><%= link_to "Investment", welcome_investment_path %></li>
  </li><%= link_to "Blog", welcome_blog_path %></li>
  </li><%= link_to "Contact", welcome_contact_path %></li>
  </li><%= link_to "Sessions", sessions_path %></li>
  </li><%= link_to "Login", root_path %></li>
</ul>


